.register-form {
  margin: 10px;
  background-color: #efefef80;
  box-shadow: 0px 1px 20px #c9d3d4;
}

.register-form-control {
  padding: 10px 10px 10px 20px;
  text-align: left;
  font-family: cursive;
}

.register-form input {
  margin: 10px;
  padding: 10px;
  width: 250px;
  border: 1px solid #d6e5e8;
}

.register-form button {
  margin: 10px 0;
  padding: 10px;
  /* font-family: cursive; */
  border: none;
  box-shadow: 0px 2px 13px #989898;
  background-color: #52a2a7;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.register-form-errors {
  text-align: left;
  margin: 0 10px;
}

.register-form-errors span {
  display: inherit;
  background-color: #ff5f5f;
  color: white;
  padding: 5px 5px;
  border: 1px solid red;
  margin: 5px;
  border-radius: 5px;
  font-family: cursive;
}
